<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/login.css">
    <title>Sign in</title>
</head>
<body>
    {% include "navigation.twig" %}

    <form action="/sign-in" method="post">
        <input type="text" name="email" id="email" placeholder="E-mail" required>

        <input type="password" name="password" id="password" placeholder="Password" required>

        <input type="submit" id="submit" value="Submit">
    </form>
    {% if errors.userCredentials is same as (false)%} Incorrect Credentials {% endif %}
    <div class="register"><a href="/register">Register</a></div>
</body>
</html>