{% extends 'navigation.twig' %}

{% block content %}
    {% if user %}
    <h1 class="centered font-semibold text-lg m-b-5">My Portfolio</h1>
    <table class="table- w-auto mx-auto">
        <thead>
        <tr>
            <th class="px-8 py-2 bg-gray-300 text-gray-800 font-bold">Symbol</th>
            <th class="px-20 py-2 bg-gray-300 text-gray-800 font-bold">Name</th>
            <th class="px-6 py-2 bg-gray-300 text-gray-800 font-bold">Amount</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for stock in boughtStocks %}
                <tr>
                    <td class="border-b-2 border-l-2 px-4 py-2">{{ stock.symbol }}</a></td>
                    <td class="border-b-2 px-4 py-2 centered">{{ stock.name }}</a></td>
                    <td class="border-b-2 border-r-2 px-4 py-2">{{ stock.amount }}</td>
                    <td>
                        <form action="/inspect" method="get" class="centered">
                            <input type="hidden" name="stock" value="{{ stock.id }}">
                            <input type="submit" name="submit" id="submit" value="Inspect" class=" bg-teal-500 hover:bg-teal-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline-teal">
                        </form>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
        {% else %}
        <h1 class="centered text-5xl font-bold text-gray-800 mt-12">Search for a stock</h1>
    {% endif %}
{% endblock %}