{% extends 'navigation.twig' %}

{% block content %}
    <div class="flex items-center justify-center h-screen bg-gray-200">
<form action="/register" method="post" class="w-full max-w-sm">
    <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
        <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" name="name" id="name" placeholder="Name" required>
        <i class="fa fa-user text-gray-500"></i>
    </div>
    <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
        <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="email" name="email" id="email" placeholder="E-mail" required>
        <i class="fa fa-envelope text-gray-500"></i>
    </div>
    <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
        <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="password" name="password" id="password" placeholder="Password" required>
        <i class="fa fa-lock text-gray-500"></i>
    </div>
    <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
        <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="password" name="password_repeat" id="password_repeat" placeholder="Repeat password" required>
        <i class="fa fa-lock text-gray-500"></i>
    </div>
    <div class="flex items-center justify-between mt-8">
        <input type="submit" id="submit" value="Submit" class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-teal">
        {% if errors.emailTaken is same as(true) %}
            <p class="text-red-500 text-xs italic">E-mail taken</p>
        {% endif %}
        {% if errors.passwordsMatch is same as(false) %}
            <p class="text-red-500 text-xs italic">Passwords don't match</p>
        {% endif %}
    </div>
{% endblock %}