{% extends 'navigation.twig' %}

{% block content %}
<div class="container mx-auto">
    <h1 class="text-3xl font-bold mt-10">Transfer Stock</h1>
    <form action="/transfer" method="post" class="bg-white p-4 rounded shadow-md">
        <label class="block text-blue-500 font-bold mb-2">
            Stock symbol:
            <input type="text" name="symbol" id="symbol" class="form-input mt-1" required/>
        </label>
        <label class="block text-blue-500 font-bold mb-2">
            Amount:
            <input type="text" name="amount" id="amount" class="form-input mt-1" required/>
        </label>
        <label class="block text-blue-500 font-bold mb-2">
            Recipient's E-mail:
            <input type="text" name="email" id="email" class="form-input mt-1" required/>
        </label>
        <label class="block text-blue-500 font-bold mb-2">
            Your password:
            <input type="password" name="password" id="password" class="form-input mt-1" required/>
        </label>
        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-full hover:bg-blue-600 focus:outline-none focus:shadow-outline">
            Transfer
        </button>
    </form>
</div>
    {% if transfer.success %}
        Transfer successful <br>
    {% endif %}

    {% if errors.incorrectStockSymbol %}
        You don't own this stock <br>
    {% endif %}

    {% if errors.incorrectTransferEmail %}
        An account with this email doesn't exist <br>
    {% endif %}

    {% if errors.incorrectPassword %}
        Incorrect password <br>
    {% endif %}
{% endblock %}